:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
}

.nav{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: var(--main-red);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
        z-index: 10;
}
.nav-list {
    display: flex;
    margin-right: 2rem; 
    justify-content: end;
    width: 100% !important;
   
}
ul {
    list-style: none;

}
li {
  margin-top: 1rem;
    margin-left:2rem ;
    margin-right:2rem ;
}
a{
    text-decoration: none;
    color: var(--main-white);
    font-size: larger;
    display: block;
    width: 100%;
    
}
a:hover{
    
   background-color: var(--main-blue);
}
section{
  display: block;
}

.welecome-section{
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
  font-size: 3.25rem;
  display: block;
}

.welecome-section p{
  display: block;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var( --main-red) ;
}
.headline{
    text-align: center;
    margin-top:1rem ;
    margin-bottom:1rem ;
}
.cards{
    display: flex;
}
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
} */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }